h1 {
   font-style: oblique; 
   margin-left: 45px;
}

body {
   background-image: url(https://cdn.wallpaperdirect.com/shared-assets/images/products/143213orig.jpg) ;
   color: aliceblue;
   margin-left: 30px;
   margin-right: 30px;
}

.story {
   background-color: rgb(69, 68, 68);
   padding: 5px;
   border-radius: 4px;
   
}

.img_shaman {
   border-radius: 3%;
}

.comrads {
  text-align: center; 
}

.i_am {
   margin: 10px;
}

.i_am_img {
   background-color: white;
   padding: 15px;
   border: solid 10px;
   color: black;
}

.nav {
   padding: 5px;
   border: solid 2px;
   color: white ;
}

